# TODO Possible solution to the bluetooth sleep problem
# understand first....  & test
# TODO consider using udev instead
# TODO delete this file if unused...
[Unit]
Description=Disable Bluetooth before suspend and enable after resume
Before=sleep.target
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "rfkill block bluetooth"
ExecStop=/bin/bash -c "rfkill unblock bluetooth"

[Install]
WantedBy=sleep.target
